.main-section {
  display: flex;
  justify-content: center;
  padding: 0 20%;
}

.heading-section {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
}

.action-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.window-size {
  position: fixed;
  left: 0px;
  top: 0px;
  color: white;
}

button {
  padding: 5px 15px;
  border: 1px solid grey;
  border-radius: 1px;
}
